
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/bmabey/pyLDAvis@3.4.0/pyLDAvis/js/ldavis.v1.0.0.css">


<div id="ldavis_el316621403523001318242563701155" style="background-color:white;"></div>
<script type="text/javascript">

var ldavis_el316621403523001318242563701155_data = {"mdsDat": {"x": [-0.3622579037678253, 0.24449616020512194, -0.3605755092446395, 0.2602866743091689, 0.2169776994923087, 0.2506395779268433, -0.15639881690233856, -0.028176194400804096, -0.032689780124561245, -0.03230190749327445], "y": [-0.0, -0.0, -0.0, -0.0, -0.0, -0.0, -0.0, -0.0, -0.0, -0.0], "topics": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], "cluster": [1, 1, 1, 1, 1, 1, 1, 1, 1, 1], "Freq": [18.17736717204916, 15.728922065982712, 15.308915569636236, 12.856135523791304, 10.963281193705782, 8.19572579582037, 4.83667543145157, 4.681248178197546, 4.633510614137046, 4.618218455228272]}, "tinfo": {"Term": ["covid-19", "omicron", "covid-19", "omicron", "omicron", "covid-19", "covid-19", "omicron", "omicron", "covid-19", "omicron", "covid-19", "omicron", "covid-19", "covid-19", "omicron", "covid-19", "omicron", "covid-19", "omicron", "covid-19", "omicron"], "Freq": [14.0, 18.0, 5.921165412901854, 0.07736543882582401, 5.0716999839418975, 0.1188440493904448, 4.983117637599403, 0.06882423034277577, 4.1802791624237905, 0.06224536131287264, 3.4730802221858426, 0.14480234465885644, 2.6516888779113548, 0.052900600972106124, 1.2804026907434096, 0.31570017280677654, 0.7516795543347161, 0.7931323165680606, 0.7664519967376038, 0.7626065694487334, 0.7620044870999416, 0.7620074847604634], "Total": [14.0, 18.0, 14.84361413575121, 18.15638445921552, 18.15638445921552, 14.84361413575121, 14.84361413575121, 18.15638445921552, 18.15638445921552, 14.84361413575121, 18.15638445921552, 14.84361413575121, 18.15638445921552, 14.84361413575121, 14.84361413575121, 18.15638445921552, 14.84361413575121, 18.15638445921552, 14.84361413575121, 18.15638445921552, 14.84361413575121, 18.15638445921552], "Category": ["Default", "Default", "Topic1", "Topic1", "Topic2", "Topic2", "Topic3", "Topic3", "Topic4", "Topic4", "Topic5", "Topic5", "Topic6", "Topic6", "Topic7", "Topic7", "Topic8", "Topic8", "Topic9", "Topic9", "Topic10", "Topic10"], "logprob": [2.0, 1.0, -0.013, -4.3507, -0.0232, -3.7768, -0.0137, -4.296, -0.0148, -4.2218, -0.0408, -3.2183, -0.0198, -3.9343, -0.2204, -1.6205, -0.7203, -0.6667, -0.6906, -0.6957, -0.6931, -0.6931], "loglift": [2.0, 1.0, 0.786, -3.7532, 0.5743, -2.9778, 0.7852, -3.6985, 0.5827, -3.4229, 0.5566, -2.4193, 0.5777, -3.1354, 0.5785, -1.023, 0.0786, -0.0692, 0.1083, -0.0982, 0.1058, -0.0957]}, "token.table": {"Topic": [1, 3, 7, 8, 9, 10, 2, 4, 5, 6, 8, 9, 10], "Freq": [0.4042142260723992, 0.336845188393666, 0.0673690376787332, 0.0673690376787332, 0.0673690376787332, 0.0673690376787332, 0.2753852239266823, 0.22030817914134582, 0.16523113435600936, 0.16523113435600936, 0.055077044785336454, 0.055077044785336454, 0.055077044785336454], "Term": ["covid-19", "covid-19", "covid-19", "covid-19", "covid-19", "covid-19", "omicron", "omicron", "omicron", "omicron", "omicron", "omicron", "omicron"]}, "R": 2, "lambda.step": 0.01, "plot.opts": {"xlab": "PC1", "ylab": "PC2"}, "topic.order": [10, 9, 5, 6, 1, 7, 2, 8, 4, 3]};

function LDAvis_load_lib(url, callback){
  var s = document.createElement('script');
  s.src = url;
  s.async = true;
  s.onreadystatechange = s.onload = callback;
  s.onerror = function(){console.warn("failed to load library " + url);};
  document.getElementsByTagName("head")[0].appendChild(s);
}

if(typeof(LDAvis) !== "undefined"){
   // already loaded: just create the visualization
   !function(LDAvis){
       new LDAvis("#" + "ldavis_el316621403523001318242563701155", ldavis_el316621403523001318242563701155_data);
   }(LDAvis);
}else if(typeof define === "function" && define.amd){
   // require.js is available: use it to load d3/LDAvis
   require.config({paths: {d3: "https://d3js.org/d3.v5"}});
   require(["d3"], function(d3){
      window.d3 = d3;
      LDAvis_load_lib("https://cdn.jsdelivr.net/gh/bmabey/pyLDAvis@3.4.0/pyLDAvis/js/ldavis.v3.0.0.js", function(){
        new LDAvis("#" + "ldavis_el316621403523001318242563701155", ldavis_el316621403523001318242563701155_data);
      });
    });
}else{
    // require.js not available: dynamically load d3 & LDAvis
    LDAvis_load_lib("https://d3js.org/d3.v5.js", function(){
         LDAvis_load_lib("https://cdn.jsdelivr.net/gh/bmabey/pyLDAvis@3.4.0/pyLDAvis/js/ldavis.v3.0.0.js", function(){
                 new LDAvis("#" + "ldavis_el316621403523001318242563701155", ldavis_el316621403523001318242563701155_data);
            })
         });
}
</script>