
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/bmabey/pyLDAvis@3.4.0/pyLDAvis/js/ldavis.v1.0.0.css">


<div id="ldavis_el31396139860008289888587327090" style="background-color:white;"></div>
<script type="text/javascript">

var ldavis_el31396139860008289888587327090_data = {"mdsDat": {"x": [-0.34663284436313885, -0.3427282846610141, 0.265459519422398, 0.27469033555903316, 0.2733486144644071, 0.2781189300809778, -0.32818482574562435, -0.024739700253088116, -0.025138595903496243, -0.02419314860045453], "y": [-0.0, -0.0, -0.0, -0.0, -0.0, -0.0, -0.0, -0.0, -0.0, -0.0], "topics": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], "cluster": [1, 1, 1, 1, 1, 1, 1, 1, 1, 1], "Freq": [15.295468315878303, 14.149512058885486, 12.919224654211783, 11.857970312877283, 10.742209692232592, 10.715256997235132, 9.57281787988758, 4.91815642418828, 4.915345328641802, 4.914038335961761]}, "tinfo": {"Term": ["janvier", "monde", "janvier", "monde", "janvier", "monde", "monde", "janvier", "monde", "janvier", "monde", "janvier", "monde", "janvier", "janvier", "monde", "janvier", "monde", "janvier", "monde", "janvier", "monde"], "Freq": [20.0, 23.0, 6.654304703665459, 0.07570144079108339, 6.144986315076441, 0.08079909889080508, 5.565506638517018, 0.11895234505673868, 5.133134829225133, 0.08437212611062336, 4.646983714821001, 0.07958858337633216, 4.646341562497856, 0.06837155859809085, 4.127856710031521, 0.08418323414790915, 1.079270164519057, 1.0847188266514007, 1.0813719938509831, 1.0813801151849844, 1.0746418270880738, 1.0875352051249527], "Total": [20.0, 23.0, 20.513716327373317, 23.486284665852143, 20.513716327373317, 23.486284665852143, 23.486284665852143, 20.513716327373317, 23.486284665852143, 20.513716327373317, 23.486284665852143, 20.513716327373317, 23.486284665852143, 20.513716327373317, 20.513716327373317, 23.486284665852143, 20.513716327373317, 23.486284665852143, 20.513716327373317, 23.486284665852143, 20.513716327373317, 23.486284665852143], "Category": ["Default", "Default", "Topic1", "Topic1", "Topic2", "Topic2", "Topic3", "Topic3", "Topic4", "Topic4", "Topic5", "Topic5", "Topic6", "Topic6", "Topic7", "Topic7", "Topic8", "Topic8", "Topic9", "Topic9", "Topic10", "Topic10"], "logprob": [2.0, 1.0, -0.0113, -4.4875, -0.0131, -4.3445, -0.0211, -3.8668, -0.0163, -4.1245, -0.017, -4.0841, -0.0146, -4.2335, -0.0202, -3.9127, -0.6957, -0.6906, -0.6932, -0.6931, -0.6991, -0.6872], "loglift": [2.0, 1.0, 0.7518, -3.8598, 0.75, -3.7167, 0.6066, -3.1037, 0.6115, -3.3614, 0.6108, -3.321, 0.6132, -3.4704, 0.7429, -3.2849, 0.0674, -0.0629, 0.0699, -0.0654, 0.064, -0.0594]}, "token.table": {"Topic": [1, 2, 7, 8, 9, 10, 3, 4, 5, 6, 8, 9, 10], "Freq": [0.3412350979358754, 0.2924872268021789, 0.19499148453478596, 0.04874787113369649, 0.04874787113369649, 0.04874787113369649, 0.2554682481867255, 0.21289020682227122, 0.21289020682227122, 0.21289020682227122, 0.04257804136445425, 0.04257804136445425, 0.04257804136445425], "Term": ["janvier", "janvier", "janvier", "janvier", "janvier", "janvier", "monde", "monde", "monde", "monde", "monde", "monde", "monde"]}, "R": 2, "lambda.step": 0.01, "plot.opts": {"xlab": "PC1", "ylab": "PC2"}, "topic.order": [1, 7, 10, 2, 8, 9, 4, 3, 5, 6]};

function LDAvis_load_lib(url, callback){
  var s = document.createElement('script');
  s.src = url;
  s.async = true;
  s.onreadystatechange = s.onload = callback;
  s.onerror = function(){console.warn("failed to load library " + url);};
  document.getElementsByTagName("head")[0].appendChild(s);
}

if(typeof(LDAvis) !== "undefined"){
   // already loaded: just create the visualization
   !function(LDAvis){
       new LDAvis("#" + "ldavis_el31396139860008289888587327090", ldavis_el31396139860008289888587327090_data);
   }(LDAvis);
}else if(typeof define === "function" && define.amd){
   // require.js is available: use it to load d3/LDAvis
   require.config({paths: {d3: "https://d3js.org/d3.v5"}});
   require(["d3"], function(d3){
      window.d3 = d3;
      LDAvis_load_lib("https://cdn.jsdelivr.net/gh/bmabey/pyLDAvis@3.4.0/pyLDAvis/js/ldavis.v3.0.0.js", function(){
        new LDAvis("#" + "ldavis_el31396139860008289888587327090", ldavis_el31396139860008289888587327090_data);
      });
    });
}else{
    // require.js not available: dynamically load d3 & LDAvis
    LDAvis_load_lib("https://d3js.org/d3.v5.js", function(){
         LDAvis_load_lib("https://cdn.jsdelivr.net/gh/bmabey/pyLDAvis@3.4.0/pyLDAvis/js/ldavis.v3.0.0.js", function(){
                 new LDAvis("#" + "ldavis_el31396139860008289888587327090", ldavis_el31396139860008289888587327090_data);
            })
         });
}
</script>