
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/bmabey/pyLDAvis@3.4.0/pyLDAvis/js/ldavis.v1.0.0.css">


<div id="ldavis_el89651401100798974887122512457" style="background-color:white;"></div>
<script type="text/javascript">

var ldavis_el89651401100798974887122512457_data = {"mdsDat": {"x": [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], "y": [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], "topics": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], "cluster": [1, 1, 1, 1, 1, 1, 1, 1, 1, 1], "Freq": [12.69764953925881, 12.68767717587619, 11.44152884989281, 11.399287448647636, 10.20320349985042, 10.11030858108321, 8.827674341428876, 8.821106014611155, 7.560880895892226, 6.250683653458664]}, "tinfo": {"Term": ["france", "france", "france", "france", "france", "france", "france", "france", "france", "france", "france"], "Freq": [38.0, 4.952083293348551, 4.948194071650505, 4.462196227163076, 4.445722080767155, 3.979249343276024, 3.943020325154066, 3.4427929744124413, 3.440231326967478, 2.9487435333430767, 2.4377666115760803], "Total": [38.0, 38.99999978765845, 38.99999978765845, 38.99999978765845, 38.99999978765845, 38.99999978765845, 38.99999978765845, 38.99999978765845, 38.99999978765845, 38.99999978765845, 38.99999978765845], "Category": ["Default", "Topic1", "Topic2", "Topic3", "Topic4", "Topic5", "Topic6", "Topic7", "Topic8", "Topic9", "Topic10"], "logprob": [1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], "loglift": [1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]}, "token.table": {"Topic": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], "Freq": [0.1282051289031609, 0.1282051289031609, 0.10256410312252873, 0.10256410312252873, 0.10256410312252873, 0.10256410312252873, 0.07692307734189655, 0.07692307734189655, 0.07692307734189655, 0.051282051561264363], "Term": ["france", "france", "france", "france", "france", "france", "france", "france", "france", "france"]}, "R": 1, "lambda.step": 0.01, "plot.opts": {"xlab": "PC1", "ylab": "PC2"}, "topic.order": [7, 2, 6, 4, 9, 8, 5, 10, 1, 3]};

function LDAvis_load_lib(url, callback){
  var s = document.createElement('script');
  s.src = url;
  s.async = true;
  s.onreadystatechange = s.onload = callback;
  s.onerror = function(){console.warn("failed to load library " + url);};
  document.getElementsByTagName("head")[0].appendChild(s);
}

if(typeof(LDAvis) !== "undefined"){
   // already loaded: just create the visualization
   !function(LDAvis){
       new LDAvis("#" + "ldavis_el89651401100798974887122512457", ldavis_el89651401100798974887122512457_data);
   }(LDAvis);
}else if(typeof define === "function" && define.amd){
   // require.js is available: use it to load d3/LDAvis
   require.config({paths: {d3: "https://d3js.org/d3.v5"}});
   require(["d3"], function(d3){
      window.d3 = d3;
      LDAvis_load_lib("https://cdn.jsdelivr.net/gh/bmabey/pyLDAvis@3.4.0/pyLDAvis/js/ldavis.v3.0.0.js", function(){
        new LDAvis("#" + "ldavis_el89651401100798974887122512457", ldavis_el89651401100798974887122512457_data);
      });
    });
}else{
    // require.js not available: dynamically load d3 & LDAvis
    LDAvis_load_lib("https://d3js.org/d3.v5.js", function(){
         LDAvis_load_lib("https://cdn.jsdelivr.net/gh/bmabey/pyLDAvis@3.4.0/pyLDAvis/js/ldavis.v3.0.0.js", function(){
                 new LDAvis("#" + "ldavis_el89651401100798974887122512457", ldavis_el89651401100798974887122512457_data);
            })
         });
}
</script>