
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/bmabey/pyLDAvis@3.4.0/pyLDAvis/js/ldavis.v1.0.0.css">


<div id="ldavis_el70391405019189617284179849939" style="background-color:white;"></div>
<script type="text/javascript">

var ldavis_el70391405019189617284179849939_data = {"mdsDat": {"x": [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], "y": [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], "topics": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], "cluster": [1, 1, 1, 1, 1, 1, 1, 1, 1, 1], "Freq": [14.018738872744619, 13.307249854613357, 12.049180735920464, 11.45607841678241, 10.127648679174635, 8.856177494164882, 8.844229704780306, 7.536512218482497, 7.522107284902221, 6.282076738434612]}, "tinfo": {"Term": ["france", "france", "france", "france", "france", "france", "france", "france", "france", "france", "france"], "Freq": [38.0, 5.467308100312948, 5.189827386289835, 4.69918043538928, 4.467870533466339, 3.9497829414904118, 3.453909184783697, 3.4492495469748974, 2.9392397329211235, 2.933621808886528, 2.4500099010765553], "Total": [38.0, 38.999999571591616, 38.999999571591616, 38.999999571591616, 38.999999571591616, 38.999999571591616, 38.999999571591616, 38.999999571591616, 38.999999571591616, 38.999999571591616, 38.999999571591616], "Category": ["Default", "Topic1", "Topic2", "Topic3", "Topic4", "Topic5", "Topic6", "Topic7", "Topic8", "Topic9", "Topic10"], "logprob": [1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], "loglift": [1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]}, "token.table": {"Topic": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], "Freq": [0.1282051296134398, 0.1282051296134398, 0.1282051296134398, 0.10256410369075185, 0.10256410369075185, 0.07692307776806388, 0.07692307776806388, 0.07692307776806388, 0.07692307776806388, 0.051282051845375924], "Term": ["france", "france", "france", "france", "france", "france", "france", "france", "france", "france"]}, "R": 1, "lambda.step": 0.01, "plot.opts": {"xlab": "PC1", "ylab": "PC2"}, "topic.order": [1, 7, 9, 2, 4, 3, 10, 8, 5, 6]};

function LDAvis_load_lib(url, callback){
  var s = document.createElement('script');
  s.src = url;
  s.async = true;
  s.onreadystatechange = s.onload = callback;
  s.onerror = function(){console.warn("failed to load library " + url);};
  document.getElementsByTagName("head")[0].appendChild(s);
}

if(typeof(LDAvis) !== "undefined"){
   // already loaded: just create the visualization
   !function(LDAvis){
       new LDAvis("#" + "ldavis_el70391405019189617284179849939", ldavis_el70391405019189617284179849939_data);
   }(LDAvis);
}else if(typeof define === "function" && define.amd){
   // require.js is available: use it to load d3/LDAvis
   require.config({paths: {d3: "https://d3js.org/d3.v5"}});
   require(["d3"], function(d3){
      window.d3 = d3;
      LDAvis_load_lib("https://cdn.jsdelivr.net/gh/bmabey/pyLDAvis@3.4.0/pyLDAvis/js/ldavis.v3.0.0.js", function(){
        new LDAvis("#" + "ldavis_el70391405019189617284179849939", ldavis_el70391405019189617284179849939_data);
      });
    });
}else{
    // require.js not available: dynamically load d3 & LDAvis
    LDAvis_load_lib("https://d3js.org/d3.v5.js", function(){
         LDAvis_load_lib("https://cdn.jsdelivr.net/gh/bmabey/pyLDAvis@3.4.0/pyLDAvis/js/ldavis.v3.0.0.js", function(){
                 new LDAvis("#" + "ldavis_el70391405019189617284179849939", ldavis_el70391405019189617284179849939_data);
            })
         });
}
</script>