
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/bmabey/pyLDAvis@3.4.0/pyLDAvis/js/ldavis.v1.0.0.css">


<div id="ldavis_el315451405963685494722128307227" style="background-color:white;"></div>
<script type="text/javascript">

var ldavis_el315451405963685494722128307227_data = {"mdsDat": {"x": [0.3355129297863666, -0.2678172764715925, -0.27724434850188023, -0.2668931324669412, 0.3414238779909668, -0.2726740380789354, 0.3354238751517716, 0.024353946884837992, 0.023957059302134633, 0.023957106403272175], "y": [-0.0, -0.0, -0.0, -0.0, -0.0, -0.0, -0.0, -0.0, -0.0, 0.0], "topics": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], "cluster": [1, 1, 1, 1, 1, 1, 1, 1, 1, 1], "Freq": [21.616607817484812, 12.326627086642535, 11.138089340487767, 11.083071600031543, 10.764699040373584, 10.004696876008987, 8.64650629253774, 4.819906765365779, 4.799897776798142, 4.799897404269111]}, "tinfo": {"Term": ["devoir", "pouvoir", "devoir", "pouvoir", "pouvoir", "devoir", "pouvoir", "devoir", "pouvoir", "devoir", "devoir", "pouvoir", "pouvoir", "devoir", "devoir", "pouvoir", "devoir", "pouvoir", "devoir", "pouvoir", "devoir", "pouvoir"], "Freq": [19.0, 21.0, 8.730714499346252, 0.13209445155492203, 4.946796029387469, 0.1071208887812923, 4.4918924085409415, 0.07472418786494976, 4.445497830191084, 0.09856157743142219, 4.359695255231939, 0.05383126580450748, 4.025394003183339, 0.07653173200661814, 3.4920819881264524, 0.052985589156634705, 0.990562685410763, 0.985598963598121, 0.9839797445534759, 0.9839783369601673, 0.98398002008327, 0.9839780259929043], "Total": [19.0, 21.0, 19.897952578836435, 21.10204690437009, 21.10204690437009, 19.897952578836435, 21.10204690437009, 19.897952578836435, 21.10204690437009, 19.897952578836435, 19.897952578836435, 21.10204690437009, 21.10204690437009, 19.897952578836435, 19.897952578836435, 21.10204690437009, 19.897952578836435, 21.10204690437009, 19.897952578836435, 21.10204690437009, 19.897952578836435, 21.10204690437009], "Category": ["Default", "Default", "Topic1", "Topic1", "Topic2", "Topic2", "Topic3", "Topic3", "Topic4", "Topic4", "Topic5", "Topic5", "Topic6", "Topic6", "Topic7", "Topic7", "Topic8", "Topic8", "Topic9", "Topic9", "Topic10", "Topic10"], "logprob": [2.0, 1.0, -0.015, -4.2061, -0.0214, -3.854, -0.0165, -4.1127, -0.0219, -3.8309, -0.0123, -4.4066, -0.0188, -3.9815, -0.0151, -4.2033, -0.6906, -0.6957, -0.6931, -0.6931, -0.6931, -0.6931], "loglift": [2.0, 1.0, 0.7079, -3.5419, 0.6428, -3.131, 0.6477, -3.3898, 0.6423, -3.1079, 0.7107, -3.7424, 0.6454, -3.2586, 0.7079, -3.5391, 0.0323, -0.0315, 0.0298, -0.0289, 0.0298, -0.0289]}, "token.table": {"Topic": [1, 5, 7, 8, 9, 10, 2, 3, 4, 6, 8, 9, 10], "Freq": [0.45230784244467676, 0.20102570775318968, 0.15076928081489227, 0.05025642693829742, 0.05025642693829742, 0.05025642693829742, 0.23694383879719905, 0.18955507103775923, 0.18955507103775923, 0.18955507103775923, 0.04738876775943981, 0.04738876775943981, 0.04738876775943981], "Term": ["devoir", "devoir", "devoir", "devoir", "devoir", "devoir", "pouvoir", "pouvoir", "pouvoir", "pouvoir", "pouvoir", "pouvoir", "pouvoir"]}, "R": 2, "lambda.step": 0.01, "plot.opts": {"xlab": "PC1", "ylab": "PC2"}, "topic.order": [7, 5, 4, 2, 9, 10, 6, 3, 1, 8]};

function LDAvis_load_lib(url, callback){
  var s = document.createElement('script');
  s.src = url;
  s.async = true;
  s.onreadystatechange = s.onload = callback;
  s.onerror = function(){console.warn("failed to load library " + url);};
  document.getElementsByTagName("head")[0].appendChild(s);
}

if(typeof(LDAvis) !== "undefined"){
   // already loaded: just create the visualization
   !function(LDAvis){
       new LDAvis("#" + "ldavis_el315451405963685494722128307227", ldavis_el315451405963685494722128307227_data);
   }(LDAvis);
}else if(typeof define === "function" && define.amd){
   // require.js is available: use it to load d3/LDAvis
   require.config({paths: {d3: "https://d3js.org/d3.v5"}});
   require(["d3"], function(d3){
      window.d3 = d3;
      LDAvis_load_lib("https://cdn.jsdelivr.net/gh/bmabey/pyLDAvis@3.4.0/pyLDAvis/js/ldavis.v3.0.0.js", function(){
        new LDAvis("#" + "ldavis_el315451405963685494722128307227", ldavis_el315451405963685494722128307227_data);
      });
    });
}else{
    // require.js not available: dynamically load d3 & LDAvis
    LDAvis_load_lib("https://d3js.org/d3.v5.js", function(){
         LDAvis_load_lib("https://cdn.jsdelivr.net/gh/bmabey/pyLDAvis@3.4.0/pyLDAvis/js/ldavis.v3.0.0.js", function(){
                 new LDAvis("#" + "ldavis_el315451405963685494722128307227", ldavis_el315451405963685494722128307227_data);
            })
         });
}
</script>