
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/bmabey/pyLDAvis@3.4.0/pyLDAvis/js/ldavis.v1.0.0.css">


<div id="ldavis_el90921396250812676969373414824" style="background-color:white;"></div>
<script type="text/javascript">

var ldavis_el90921396250812676969373414824_data = {"mdsDat": {"x": [0.33520146074741747, 0.32644421609051827, -0.22691865959284896, -0.2188867701399407, -0.22413614552625713, -0.21827406154698176, 0.3205249565165278, -0.03158638991061424, -0.030753467461478126, -0.031615139176342774], "y": [0.0030160537654699946, 0.0028930320810614247, 0.3096713227248397, -0.31096409035813805, 0.3047711043346359, -0.3095920811686031, 0.0028118787899829626, -0.001989487844620106, -0.000546918072871231, -7.081425175740076e-05], "topics": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], "cluster": [1, 1, 1, 1, 1, 1, 1, 1, 1, 1], "Freq": [18.323848098464186, 16.592819426770987, 11.152182570369035, 10.704904273349216, 10.352835951987768, 10.025451041240535, 8.597007081834306, 4.765430604069961, 4.750359564938254, 4.735161386975748]}, "tinfo": {"Term": ["france", "macron", "emmanuel", "france", "emmanuel", "macron", "france", "emmanuel", "macron", "macron", "emmanuel", "france", "emmanuel", "macron", "france", "macron", "emmanuel", "france", "emmanuel", "macron", "france", "france", "emmanuel", "macron", "emmanuel", "macron", "france", "emmanuel", "macron", "france", "emmanuel", "macron", "france"], "Freq": [33.0, 18.0, 17.0, 12.682503735975391, 0.07209516528683373, 0.0720951593139388, 11.424630662773733, 0.09517163178760854, 0.0951716426048961, 7.632321060723497, 0.0871035375251408, 0.0871037701778086, 7.304874736841578, 0.09427891888429456, 0.09427936552772458, 7.057200862468159, 0.09489205168659862, 0.09489234865496973, 6.833877316754285, 0.0921993996447201, 0.09173911891035086, 5.896359217982834, 0.060772920892742915, 0.060772904078910006, 1.1230028113267982, 1.1008519385871116, 1.1119466116885421, 1.1083979860239204, 1.102856004021819, 1.1139977434584418, 1.104866524765931, 1.1048670186817733, 1.1048795641441629], "Total": [33.0, 18.0, 17.0, 33.70233213929396, 17.88505468289144, 18.412614909009122, 33.70233213929396, 17.88505468289144, 18.412614909009122, 18.412614909009122, 17.88505468289144, 33.70233213929396, 17.88505468289144, 18.412614909009122, 33.70233213929396, 18.412614909009122, 17.88505468289144, 33.70233213929396, 17.88505468289144, 18.412614909009122, 33.70233213929396, 33.70233213929396, 17.88505468289144, 18.412614909009122, 17.88505468289144, 18.412614909009122, 33.70233213929396, 17.88505468289144, 18.412614909009122, 33.70233213929396, 17.88505468289144, 18.412614909009122, 33.70233213929396], "Category": ["Default", "Default", "Default", "Topic1", "Topic1", "Topic1", "Topic2", "Topic2", "Topic2", "Topic3", "Topic3", "Topic3", "Topic4", "Topic4", "Topic4", "Topic5", "Topic5", "Topic5", "Topic6", "Topic6", "Topic6", "Topic7", "Topic7", "Topic7", "Topic8", "Topic8", "Topic8", "Topic9", "Topic9", "Topic9", "Topic10", "Topic10", "Topic10"], "logprob": [3.0, 2.0, 1.0, -0.0113, -5.1813, -5.1813, -0.0165, -4.8044, -4.8044, -0.0226, -4.4956, -4.4956, -0.0255, -4.3755, -4.3755, -0.0265, -4.3356, -4.3356, -0.0266, -4.3323, -4.3373, -0.0204, -4.5954, -4.5954, -1.0887, -1.1086, -1.0986, -1.0986, -1.1036, -1.0936, -1.0986, -1.0986, -1.0986], "loglift": [3.0, 2.0, 1.0, 0.7196, -3.8168, -3.8458, 0.7144, -3.4398, -3.4689, 1.3129, -3.1311, -3.7647, 1.339, -3.0401, -3.6446, 1.3089, -2.9711, -3.6047, 1.338, -2.9968, -3.6063, 0.7105, -3.2308, -3.2599, 0.2758, 0.2268, -0.3677, 0.2659, 0.2318, -0.3627, 0.2659, 0.2368, -0.3677]}, "token.table": {"Topic": [4, 6, 8, 9, 10, 1, 2, 7, 8, 9, 10, 3, 5, 8, 9, 10], "Freq": [0.39138823582664745, 0.39138823582664745, 0.05591260511809249, 0.05591260511809249, 0.05591260511809249, 0.3857299829065284, 0.3263869086132163, 0.17802922287993617, 0.02967153714665603, 0.02967153714665603, 0.02967153714665603, 0.43448472905853663, 0.3801741379262195, 0.05431059113231708, 0.05431059113231708, 0.05431059113231708], "Term": ["emmanuel", "emmanuel", "emmanuel", "emmanuel", "emmanuel", "france", "france", "france", "france", "france", "france", "macron", "macron", "macron", "macron", "macron"]}, "R": 3, "lambda.step": 0.01, "plot.opts": {"xlab": "PC1", "ylab": "PC2"}, "topic.order": [6, 7, 3, 2, 9, 8, 4, 1, 5, 10]};

function LDAvis_load_lib(url, callback){
  var s = document.createElement('script');
  s.src = url;
  s.async = true;
  s.onreadystatechange = s.onload = callback;
  s.onerror = function(){console.warn("failed to load library " + url);};
  document.getElementsByTagName("head")[0].appendChild(s);
}

if(typeof(LDAvis) !== "undefined"){
   // already loaded: just create the visualization
   !function(LDAvis){
       new LDAvis("#" + "ldavis_el90921396250812676969373414824", ldavis_el90921396250812676969373414824_data);
   }(LDAvis);
}else if(typeof define === "function" && define.amd){
   // require.js is available: use it to load d3/LDAvis
   require.config({paths: {d3: "https://d3js.org/d3.v5"}});
   require(["d3"], function(d3){
      window.d3 = d3;
      LDAvis_load_lib("https://cdn.jsdelivr.net/gh/bmabey/pyLDAvis@3.4.0/pyLDAvis/js/ldavis.v3.0.0.js", function(){
        new LDAvis("#" + "ldavis_el90921396250812676969373414824", ldavis_el90921396250812676969373414824_data);
      });
    });
}else{
    // require.js not available: dynamically load d3 & LDAvis
    LDAvis_load_lib("https://d3js.org/d3.v5.js", function(){
         LDAvis_load_lib("https://cdn.jsdelivr.net/gh/bmabey/pyLDAvis@3.4.0/pyLDAvis/js/ldavis.v3.0.0.js", function(){
                 new LDAvis("#" + "ldavis_el90921396250812676969373414824", ldavis_el90921396250812676969373414824_data);
            })
         });
}
</script>