
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/bmabey/pyLDAvis@3.4.0/pyLDAvis/js/ldavis.v1.0.0.css">


<div id="ldavis_el90481404563519215368614681675" style="background-color:white;"></div>
<script type="text/javascript">

var ldavis_el90481404563519215368614681675_data = {"mdsDat": {"x": [0.24703486312251405, 0.23315483643908877, -0.31371675548814437, -0.3139254687584095, 0.024246063055087634, 0.02399371751104831, 0.02430571423681992, 0.024305607740477728, 0.025449234016009157, 0.025152188125508203], "y": [-0.3235482940477916, 0.32954373586955327, -0.004787073270552916, -0.004793076160500982, 0.002764910874888429, 0.0012654590530294307, -0.0002451102440219103, -0.00024512103198290705, -0.00022878562557145527, 0.00027335458295047566], "topics": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], "cluster": [1, 1, 1, 1, 1, 1, 1, 1, 1, 1], "Freq": [23.507401426019346, 19.578164449634627, 16.125553060472225, 11.290313954703308, 4.929897841866405, 4.920051462815391, 4.915200662126435, 4.915200654962415, 4.910375967125083, 4.907840520274766]}, "tinfo": {"Term": ["explique", "doit", "mettre", "explique", "mettre", "doit", "mettre", "explique", "doit", "doit", "mettre", "explique", "doit", "mettre", "explique", "mettre", "explique", "doit", "mettre", "explique", "doit", "mettre", "explique", "doit", "mettre", "explique", "doit", "mettre", "explique", "doit", "mettre", "explique", "doit"], "Freq": [17.0, 19.0, 15.0, 12.097166183628396, 0.06334116642094227, 0.06334118349746207, 10.047534458108442, 0.06655570909263352, 0.06655578494435509, 8.204279944477516, 0.09050374238632164, 0.09050374238632164, 5.745102005203496, 0.06293052509843297, 0.06293059617932252, 0.862982661328453, 0.8418143041058124, 0.8587499677994725, 0.8542209834063474, 0.8457185974121274, 0.8584871589509, 0.8477016188622774, 0.851965416403902, 0.856237288165539, 0.8477013891110721, 0.8519652628183689, 0.8562378962926476, 0.849703002504602, 0.8539874985172432, 0.8497049810296597, 0.8506911836800485, 0.8506926287787284, 0.850693389356981], "Total": [17.0, 19.0, 15.0, 17.41329993932285, 15.37731073090694, 19.20938959971803, 15.37731073090694, 17.41329993932285, 19.20938959971803, 19.20938959971803, 15.37731073090694, 17.41329993932285, 19.20938959971803, 15.37731073090694, 17.41329993932285, 15.37731073090694, 17.41329993932285, 19.20938959971803, 15.37731073090694, 17.41329993932285, 19.20938959971803, 15.37731073090694, 17.41329993932285, 19.20938959971803, 15.37731073090694, 17.41329993932285, 19.20938959971803, 15.37731073090694, 17.41329993932285, 19.20938959971803, 15.37731073090694, 17.41329993932285, 19.20938959971803], "Category": ["Default", "Default", "Default", "Topic1", "Topic1", "Topic1", "Topic2", "Topic2", "Topic2", "Topic3", "Topic3", "Topic3", "Topic4", "Topic4", "Topic4", "Topic5", "Topic5", "Topic5", "Topic6", "Topic6", "Topic6", "Topic7", "Topic7", "Topic7", "Topic8", "Topic8", "Topic8", "Topic9", "Topic9", "Topic9", "Topic10", "Topic10", "Topic10"], "logprob": [3.0, 2.0, 1.0, -0.0104, -5.2626, -5.2626, -0.0132, -5.0302, -5.0302, -0.0218, -4.5288, -4.5288, -0.0217, -4.5357, -4.5357, -1.0888, -1.1136, -1.0937, -1.097, -1.107, -1.092, -1.1036, -1.0986, -1.0936, -1.1036, -1.0986, -1.0936, -1.1003, -1.0953, -1.1003, -1.0986, -1.0986, -1.0986], "loglift": [3.0, 2.0, 1.0, 1.0836, -4.0443, -4.2668, 1.2052, -3.9362, -4.0344, 0.974, -3.3105, -3.4348, 0.9742, -3.3174, -3.4417, 0.1296, -0.0196, -0.0978, 0.1214, -0.013, -0.0961, 0.1147, -0.0046, -0.0978, 0.1147, -0.0046, -0.0978, 0.1181, -0.0013, -0.1044, 0.1197, -0.0046, -0.1028]}, "token.table": {"Topic": [3, 4, 5, 6, 7, 8, 9, 10, 1, 5, 6, 7, 8, 9, 10, 2, 5, 6, 7, 8, 9, 10], "Freq": [0.4164629989136891, 0.3123472491852668, 0.05205787486421114, 0.05205787486421114, 0.05205787486421114, 0.05205787486421114, 0.05205787486421114, 0.05205787486421114, 0.689128427225991, 0.05742736893549925, 0.05742736893549925, 0.05742736893549925, 0.05742736893549925, 0.05742736893549925, 0.05742736893549925, 0.6503087682231032, 0.06503087682231033, 0.06503087682231033, 0.06503087682231033, 0.06503087682231033, 0.06503087682231033, 0.06503087682231033], "Term": ["doit", "doit", "doit", "doit", "doit", "doit", "doit", "doit", "explique", "explique", "explique", "explique", "explique", "explique", "explique", "mettre", "mettre", "mettre", "mettre", "mettre", "mettre", "mettre"]}, "R": 3, "lambda.step": 0.01, "plot.opts": {"xlab": "PC1", "ylab": "PC2"}, "topic.order": [4, 3, 10, 2, 7, 8, 5, 1, 6, 9]};

function LDAvis_load_lib(url, callback){
  var s = document.createElement('script');
  s.src = url;
  s.async = true;
  s.onreadystatechange = s.onload = callback;
  s.onerror = function(){console.warn("failed to load library " + url);};
  document.getElementsByTagName("head")[0].appendChild(s);
}

if(typeof(LDAvis) !== "undefined"){
   // already loaded: just create the visualization
   !function(LDAvis){
       new LDAvis("#" + "ldavis_el90481404563519215368614681675", ldavis_el90481404563519215368614681675_data);
   }(LDAvis);
}else if(typeof define === "function" && define.amd){
   // require.js is available: use it to load d3/LDAvis
   require.config({paths: {d3: "https://d3js.org/d3.v5"}});
   require(["d3"], function(d3){
      window.d3 = d3;
      LDAvis_load_lib("https://cdn.jsdelivr.net/gh/bmabey/pyLDAvis@3.4.0/pyLDAvis/js/ldavis.v3.0.0.js", function(){
        new LDAvis("#" + "ldavis_el90481404563519215368614681675", ldavis_el90481404563519215368614681675_data);
      });
    });
}else{
    // require.js not available: dynamically load d3 & LDAvis
    LDAvis_load_lib("https://d3js.org/d3.v5.js", function(){
         LDAvis_load_lib("https://cdn.jsdelivr.net/gh/bmabey/pyLDAvis@3.4.0/pyLDAvis/js/ldavis.v3.0.0.js", function(){
                 new LDAvis("#" + "ldavis_el90481404563519215368614681675", ldavis_el90481404563519215368614681675_data);
            })
         });
}
</script>