
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/bmabey/pyLDAvis@3.4.0/pyLDAvis/js/ldavis.v1.0.0.css">


<div id="ldavis_el78031396678370280486454966372" style="background-color:white;"></div>
<script type="text/javascript">

var ldavis_el78031396678370280486454966372_data = {"mdsDat": {"x": [0.3741315945635255, 0.37303128984990747, -0.19588621996753344, -0.1721065192388073, -0.17366640203093892, -0.1980607132476361, 0.001423554651443161, -0.004847678060530536, -0.0011267576809303697, -0.002892148838499632], "y": [-0.013774959532138458, -0.013729034915861256, -0.30044405302548904, 0.3131167373050093, 0.31640163016091344, -0.304304458537353, 0.000536732411144438, 0.0028126377123403766, 0.00014447183184990555, -0.0007597034104155549], "topics": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], "cluster": [1, 1, 1, 1, 1, 1, 1, 1, 1, 1], "Freq": [20.787428060008306, 17.98177263080255, 13.296823222010023, 11.426143454782153, 9.25894396665084, 8.197621852604534, 4.78476985120335, 4.772573495451549, 4.754576144199393, 4.739347322287299]}, "tinfo": {"Term": ["macron", "emmanuel", "france", "france", "emmanuel", "macron", "france", "emmanuel", "macron", "macron", "emmanuel", "france", "emmanuel", "macron", "france", "emmanuel", "macron", "france", "macron", "emmanuel", "france", "emmanuel", "macron", "france", "emmanuel", "macron", "france", "emmanuel", "macron", "france", "emmanuel", "macron", "france"], "Freq": [19.0, 18.0, 31.0, 14.408399750048035, 0.07139975276807634, 0.07139971888842488, 12.456221661202964, 0.0655093820163057, 0.0655094523529943, 9.068157689369725, 0.1198087086658148, 0.11980928078959086, 7.782285128565402, 0.10800730777070092, 0.10800766532258885, 6.322976588337703, 0.07914210467907948, 0.07914241252244461, 5.608362611793831, 0.06498626097682092, 0.06498657094280763, 1.1090106727935973, 1.0979785793335899, 1.1423495110997135, 1.13889982480387, 1.103703480407587, 1.0981982084545, 1.1075246803950407, 1.1019886901265608, 1.1186898978275692, 1.1039906462708031, 1.109550232726296, 1.1040022141179922], "Total": [19.0, 18.0, 31.0, 31.699807172328207, 18.88639164559343, 19.413799867448784, 31.699807172328207, 18.88639164559343, 19.413799867448784, 19.413799867448784, 18.88639164559343, 31.699807172328207, 18.88639164559343, 19.413799867448784, 31.699807172328207, 18.88639164559343, 19.413799867448784, 31.699807172328207, 19.413799867448784, 18.88639164559343, 31.699807172328207, 18.88639164559343, 19.413799867448784, 31.699807172328207, 18.88639164559343, 19.413799867448784, 31.699807172328207, 18.88639164559343, 19.413799867448784, 31.699807172328207, 18.88639164559343, 19.413799867448784, 31.699807172328207], "Category": ["Default", "Default", "Default", "Topic1", "Topic1", "Topic1", "Topic2", "Topic2", "Topic2", "Topic3", "Topic3", "Topic3", "Topic4", "Topic4", "Topic4", "Topic5", "Topic5", "Topic5", "Topic6", "Topic6", "Topic6", "Topic7", "Topic7", "Topic7", "Topic8", "Topic8", "Topic8", "Topic9", "Topic9", "Topic9", "Topic10", "Topic10", "Topic10"], "logprob": [3.0, 2.0, 1.0, -0.0099, -5.3171, -5.3171, -0.0105, -5.2582, -5.2582, -0.0261, -4.3527, -4.3527, -0.0274, -4.3048, -4.3048, -0.0247, -4.4054, -4.4054, -0.0229, -4.4807, -4.4807, -1.1053, -1.1153, -1.0757, -1.0761, -1.1075, -1.1125, -1.1003, -1.1053, -1.0903, -1.1003, -1.0953, -1.1003], "loglift": [3.0, 2.0, 1.0, 0.7823, -4.0071, -4.0346, 0.7817, -3.9482, -3.9757, 1.2564, -3.0427, -3.5605, 1.2827, -3.0223, -3.5126, 1.2853, -3.1229, -3.6132, 1.2596, -3.1707, -3.6886, 0.2048, 0.1672, -0.2835, 0.2339, 0.175, -0.3204, 0.2097, 0.1772, -0.2981, 0.2098, 0.1872, -0.3081]}, "token.table": {"Topic": [4, 5, 7, 8, 9, 10, 1, 2, 7, 8, 9, 10, 3, 6, 7, 8, 9, 10], "Freq": [0.4235854127205161, 0.31768905954038706, 0.05294817659006451, 0.05294817659006451, 0.05294817659006451, 0.05294817659006451, 0.4416430650158988, 0.3785511985850561, 0.03154593321542134, 0.03154593321542134, 0.03154593321542134, 0.03154593321542134, 0.4635877603276598, 0.3090585068851065, 0.051509751147517754, 0.051509751147517754, 0.051509751147517754, 0.051509751147517754], "Term": ["emmanuel", "emmanuel", "emmanuel", "emmanuel", "emmanuel", "emmanuel", "france", "france", "france", "france", "france", "france", "macron", "macron", "macron", "macron", "macron", "macron"]}, "R": 3, "lambda.step": 0.01, "plot.opts": {"xlab": "PC1", "ylab": "PC2"}, "topic.order": [6, 10, 3, 5, 9, 8, 7, 4, 2, 1]};

function LDAvis_load_lib(url, callback){
  var s = document.createElement('script');
  s.src = url;
  s.async = true;
  s.onreadystatechange = s.onload = callback;
  s.onerror = function(){console.warn("failed to load library " + url);};
  document.getElementsByTagName("head")[0].appendChild(s);
}

if(typeof(LDAvis) !== "undefined"){
   // already loaded: just create the visualization
   !function(LDAvis){
       new LDAvis("#" + "ldavis_el78031396678370280486454966372", ldavis_el78031396678370280486454966372_data);
   }(LDAvis);
}else if(typeof define === "function" && define.amd){
   // require.js is available: use it to load d3/LDAvis
   require.config({paths: {d3: "https://d3js.org/d3.v5"}});
   require(["d3"], function(d3){
      window.d3 = d3;
      LDAvis_load_lib("https://cdn.jsdelivr.net/gh/bmabey/pyLDAvis@3.4.0/pyLDAvis/js/ldavis.v3.0.0.js", function(){
        new LDAvis("#" + "ldavis_el78031396678370280486454966372", ldavis_el78031396678370280486454966372_data);
      });
    });
}else{
    // require.js not available: dynamically load d3 & LDAvis
    LDAvis_load_lib("https://d3js.org/d3.v5.js", function(){
         LDAvis_load_lib("https://cdn.jsdelivr.net/gh/bmabey/pyLDAvis@3.4.0/pyLDAvis/js/ldavis.v3.0.0.js", function(){
                 new LDAvis("#" + "ldavis_el78031396678370280486454966372", ldavis_el78031396678370280486454966372_data);
            })
         });
}
</script>